<h1 style="color:#ffc0cb;font-size:70px;font-family:Georgia;text-align:center;"><strong>FIFA World Cup Matches</strong></h1>

<a id="1"></a>
<h1 style="color:#ffc0cb;font-size:40px;font-family:Georgia;text-align:center;"><strong>1. Data Preparation</strong></h1>

<a id="1.1"></a>
# 1.1 Importing Necessary Libraries and datasets

In [1]:
# Install a conda package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install missingno


# work with data in tabular representation
from datetime import time
import pandas as pd
# round the data in the correlation matrix
import numpy as np
import os


# Modules for data visualization
import seaborn as sns
import missingno as msno

# ignore DeprecationWarning Error Messages
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: missingno in c:\users\thu\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: numpy in c:\users\thu\anaconda3\lib\site-packages (from missingno) (1.20.3)
Requirement already satisfied: seaborn in c:\users\thu\anaconda3\lib\site-packages (from missingno) (0.11.2)
Requirement already satisfied: scipy in c:\users\thu\anaconda3\lib\site-packages (from missingno) (1.7.1)
Requirement already satisfied: matplotlib in c:\users\thu\anaconda3\lib\site-packages (from missingno) (3.4.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\thu\anaconda3\lib\site-packages (from matplotlib->missingno) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\thu\anaconda3\lib\site-packages (from matplotlib->missingno) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\thu\anaconda3\lib\site-packages (from matplotlib->missingno) (8.4.0)
Requirement already satisfied: cycler>=0.10 in c:\users\thu\anaconda3\lib\site-packages (from matplotlib->missingno) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\thu\anaconda3\lib\site-packages (from matplotlib->missingno) (3.0.4)
Requirement already satisfied: six in c:\users\thu\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->missingno) (1.16.0)
Requirement already satisfied: pandas>=0.23 in c:\users\thu\anaconda3\lib\site-packages (from seaborn->missingno) (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\thu\anaconda3\lib\site-packages (from pandas>=0.23->seaborn->missingno) (2021.3)

In [2]:
# check the version of the packages
print("Numpy version: ", np.__version__)
print("Pandas version: ",pd.__version__)
! python --version

Numpy version:  1.20.3
Pandas version:  1.3.4
Python 3.9.7

<a id="1.2"></a>
# Data Retrieving
***
In order to load data properly, the data in csv file have to be examined carefully. First of all, all the categories are seperated by the "," and strip the extra-whitespaces at the begin by setting "skipinitialspace = True".

In [3]:
# set the path of the external data from the third party source - Kaggle
external_data_path = os.path.join(os.path.pardir, '', 'data','external')
WorldCupMatches = os.path.join(external_data_path, 'WorldCupMatches.csv')

# import dataset
WorldCupMatches = pd.read_csv(WorldCupMatches, delimiter=',', skipinitialspace = True)

print("The shape of the MATCHES data is (row, column):", str(WorldCupMatches.shape))
WorldCupMatches.head(3)

The shape of the MATCHES data is (row, column): (4572, 20)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA

In [4]:
# set the path of the external data from the third party source - Kaggle
external_data_path = os.path.join(os.path.pardir, '', 'data','external')
WorldCups = os.path.join(external_data_path, 'WorldCups.csv')

# import dataset
WorldCups = pd.read_csv(WorldCups, delimiter=',', skipinitialspace = True)
print("The shape of the WHOLE WORLD CUP data is (row, column):", str(WorldCups.shape))
WorldCups.head(3)

The shape of the WHOLE WORLD CUP data is (row, column): (20, 10)

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700

<a id="1.3"></a>
# Rename columns
***
Since these columns are not in SQL naming convention will be more straightforward in later process. We will also analyse the column meaning

In [5]:
print(f'The list of WorldCupMatches columns\' names is: {WorldCupMatches.columns.to_list()}; \n\nThe list of WorldCups columns\' names is: {WorldCups.columns.to_list()}\n\n\n')

The list of WorldCupMatches columns' names is: ['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name', 'Home Team Goals', 'Away Team Goals', 'Away Team Name', 'Win conditions', 'Attendance', 'Half-time Home Goals', 'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2', 'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'];

The list of WorldCups columns' names is: ['Year', 'Country', 'Winner', 'Runners-Up', 'Third', 'Fourth', 'GoalsScored', 'QualifiedTeams', 'MatchesPlayed', 'Attendance']

In [6]:
WorldCupMatches.columns = ['year', 'date_time', 'stage', 'stadium', 'city', 'home_team_name',
       'home_team_goals', 'away_team_goals', 'away_team_name',
       'win_conditions', 'attendance', 'half_time_home_goals',
       'half_time_away_goals', 'referee', 'assistant_1', 'assistant_2',
       'round_id', 'match_id', 'home_team_code', 'away_team_code']

WorldCups.columns = ["year","country","first","second","third","fourth","goals","nb_teams","nb_matches","attendance"]

In [7]:
print(f'The list of WorldCupMatches columns\' names is: {WorldCupMatches.columns.to_list()}; \n\nThe list of WorldCups columns\' names is: {WorldCups.columns.to_list()}\n\n\n')

The list of WorldCupMatches columns' names is: ['year', 'date_time', 'stage', 'stadium', 'city', 'home_team_name', 'home_team_goals', 'away_team_goals', 'away_team_name', 'win_conditions', 'attendance', 'half_time_home_goals', 'half_time_away_goals', 'referee', 'assistant_1', 'assistant_2', 'round_id', 'match_id', 'home_team_code', 'away_team_code'];

The list of WorldCups columns' names is: ['year', 'country', 'first', 'second', 'third', 'fourth', 'goals', 'nb_teams', 'nb_matches', 'attendance']

# Reposition Columns

In [8]:
WorldCupMatches=WorldCupMatches[["year","round_id","match_id","date_time","stage",
                       "home_team_code","home_team_name","away_team_code","away_team_name",
                       "stadium","city","attendance", "referee","assistant_1","assistant_2",
                       "half_time_home_goals","half_time_away_goals", "home_team_goals", "away_team_goals","win_conditions"
                      ]]

<a id="2"></a>
<h1 style="color:#ffc0cb;font-size:40px;font-family:Georgia;text-align:center;"><strong>2. Data Cleaning</strong></h1>

<a id="2.2"></a>
# Data types
***

In [9]:
WorldCupMatches.info()
# convert columns to the best possible dtypes, object->string
WorldCupMatches = WorldCupMatches.convert_dtypes()
WorldCupMatches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  852 non-null    float64
 1   round_id              852 non-null    float64
 2   match_id              852 non-null    float64
 3   date_time             852 non-null    object
 4   stage                 852 non-null    object
 5   home_team_code        852 non-null    object
 6   home_team_name        852 non-null    object
 7   away_team_code        852 non-null    object
 8   away_team_name        852 non-null    object
 9   stadium               852 non-null    object
 10  city                  852 non-null    object
 11  attendance            850 non-null    float64
 12  referee               852 non-null    object
 13  assistant_1           852 non-null    object
 14  assistant_2           852 non-null    object
 15  half_time_home_goals  852 non-null    float64
 16  half_time_away_goals  852 non-null    float64
 17  home_team_goals       852 non-null    float64
 18  away_team_goals       852 non-null    float64
 19  win_conditions        852 non-null    object
dtypes: float64(8), object(12)
memory usage: 714.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  852 non-null    Int64
 1   round_id              852 non-null    Int64
 2   match_id              852 non-null    Int64
 3   date_time             852 non-null    string
 4   stage                 852 non-null    string
 5   home_team_code        852 non-null    string
 6   home_team_name        852 non-null    string
 7   away_team_code        852 non-null    string
 8   away_team_name        852 non-null    string
 9   stadium               852 non-null    string
 10  city                  852 non-null    string
 11  attendance            850 non-null    Int64
 12  referee               852 non-null    string
 13  assistant_1           852 non-null    string
 14  assistant_2           852 non-null    string
 15  half_time_home_goals  852 non-null    Int64
 16  half_time_away_goals  852 non-null    Int64
 17  home_team_goals       852 non-null    Int64
 18  away_team_goals       852 non-null    Int64
 19  win_conditions        852 non-null    string
dtypes: Int64(8), string(12)
memory usage: 750.2 KB

In [10]:
WorldCups.info()
# convert columns to the best possible dtypes, object->string
WorldCups = WorldCups.convert_dtypes()
WorldCups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        20 non-null     int64
 1   country     20 non-null     object
 2   first       20 non-null     object
 3   second      20 non-null     object
 4   third       20 non-null     object
 5   fourth      20 non-null     object
 6   goals       20 non-null     int64
 7   nb_teams    20 non-null     int64
 8   nb_matches  20 non-null     int64
 9   attendance  20 non-null     object
dtypes: int64(4), object(6)
memory usage: 1.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        20 non-null     Int64
 1   country     20 non-null     string
 2   first       20 non-null     string
 3   second      20 non-null     string
 4   third       20 non-null     string
 5   fourth      20 non-null     string
 6   goals       20 non-null     Int64
 7   nb_teams    20 non-null     Int64
 8   nb_matches  20 non-null     Int64
 9   attendance  20 non-null     string
dtypes: Int64(4), string(6)
memory usage: 1.8 KB

<a id="2.2.1"></a>
# Format date features

In [11]:
# Cast date columns to the Date data type
WorldCupMatches['date_time'] = pd.to_datetime(WorldCupMatches['date_time'])
WorldCupMatches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  852 non-null    Int64
 1   round_id              852 non-null    Int64
 2   match_id              852 non-null    Int64
 3   date_time             852 non-null    datetime64[ns]
 4   stage                 852 non-null    string
 5   home_team_code        852 non-null    string
 6   home_team_name        852 non-null    string
 7   away_team_code        852 non-null    string
 8   away_team_name        852 non-null    string
 9   stadium               852 non-null    string
 10  city                  852 non-null    string
 11  attendance            850 non-null    Int64
 12  referee               852 non-null    string
 13  assistant_1           852 non-null    string
 14  assistant_2           852 non-null    string
 15  half_time_home_goals  852 non-null    Int64
 16  half_time_away_goals  852 non-null    Int64
 17  home_team_goals       852 non-null    Int64
 18  away_team_goals       852 non-null    Int64
 19  win_conditions        852 non-null    string
dtypes: Int64(8), datetime64[ns](1), string(11)
memory usage: 750.2 KB

# DROP NA & DUPLICATION

+ world_cup dataframe: year is the primary key

+ world_cup_match dataframe: year,match_id are the primary key

In [12]:
print("Number of rows before drop of duplicates in WorldCupMatches:", len(WorldCupMatches.index))
print("Number of duplicated records in WorldCupMatches: ", WorldCupMatches.duplicated().sum())
WorldCupMatches = WorldCupMatches.drop_duplicates(subset=["year", "match_id"], keep="first")
print("Number of duplicated records AFTER DROP in WorldCupMatches: ", WorldCupMatches.duplicated().sum())
print("Number of rows after drop of duplicates in WorldCupMatches:", len(WorldCupMatches.index), "\n\n")


print("Number of rows before drop of duplicates in WorldCups:", len(WorldCups.index))
print("Number of duplicated records in WorldCups: ", WorldCups.duplicated().sum())
WorldCups = WorldCups.drop_duplicates(subset=["year"], keep="first")
print("Number of rows after drop of duplicates in WorldCups:", len(WorldCups.index), "\n\n")

Number of rows before drop of duplicates in WorldCupMatches: 4572
Number of duplicated records in WorldCupMatches:  3735
Number of duplicated records AFTER DROP in WorldCupMatches:  0
Number of rows after drop of duplicates in WorldCupMatches: 837


Number of rows before drop of duplicates in WorldCups: 20
Number of duplicated records in WorldCups:  0
Number of rows after drop of duplicates in WorldCups: 20

In [13]:
print("The WorldCupMatches dataframe BEFORE dropped has {} rows and {} columns".format(WorldCupMatches.shape[0], WorldCupMatches.shape[1]))
WorldCupMatches = WorldCupMatches.dropna(subset=["year","match_id"])
# display missing values in descending
print("The WorldCupMatches dataframe AFTER dropped has {} rows and {} columns".format(WorldCupMatches.shape[0], WorldCupMatches.shape[1]),"\n\n\n")


# WorldCups
print("The WorldCups dataframe BEFORE dropped has {} rows and {} columns".format(WorldCups.shape[0], WorldCups.shape[1]))
WorldCups = WorldCups.dropna(subset=["year"])
# display missing values in descending
print("The WorldCups dataframe AFTER dropped has {} rows and {} columns".format(WorldCups.shape[0], WorldCups.shape[1]),"\n\n\n")

The WorldCupMatches dataframe BEFORE dropped has 837 rows and 20 columns
The WorldCupMatches dataframe AFTER dropped has 836 rows and 20 columns



The WorldCups dataframe BEFORE dropped has 20 rows and 10 columns
The WorldCups dataframe AFTER dropped has 20 rows and 10 columns

In [14]:
# print out list of District types
print(f'NUMBER OF CATEGORIES: {WorldCupMatches.year.nunique()}; \n\nUNIQUE NAMES OF THE CATEGORIES {WorldCupMatches.year.unique()}\n')

NUMBER OF CATEGORIES: 20;

UNIQUE NAMES OF THE CATEGORIES <IntegerArray>
[1930, 1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970, 1974, 1978, 1982, 1986,
 1990, 1994, 1998, 2002, 2006, 2010, 2014]
Length: 20, dtype: Int64

In [15]:
# print out list of District types
print(f'NUMBER OF CATEGORIES: {WorldCupMatches.win_conditions.nunique()}; \n\nUNIQUE NAMES OF THE CATEGORIES {WorldCupMatches.win_conditions.unique()}\n')

NUMBER OF CATEGORIES: 43;

UNIQUE NAMES OF THE CATEGORIES <StringArray>
[                                            ' ',
                 'Austria win after extra time ',
                   'Italy win after extra time ',
                  'Brazil win after extra time ',
          'Czechoslovakia win after extra time ',
                 'Hungary win after extra time ',
        'Northern Ireland win after extra time ',
                 'England win after extra time ',
              'Germany FR win after extra time ',
                 'Uruguay win after extra time ',
               'Argentina win after extra time ',
                    ' win on penalties (5 - 4) ',
                 'Belgium win after extra time ',
              'France win on penalties (3 - 4) ',
          'Germany FR win on penalties (4 - 1) ',
             'Belgium win on penalties (4 - 5) ',
                  'France win after extra time ',
                'Cameroon win after extra time ',
 'Republic of Ireland win on penalties (5 - 4) ',
              'Yugoslavia win after extra time ',
                    ' win on penalties (2 - 3) ',
                    ' win on penalties (3 - 4) ',
                    ' win on penalties (4 - 3) ',
            'Bulgaria win on penalties (1 - 3) ',
              'Sweden win on penalties (4 - 5) ',
              'Brazil win on penalties (3 - 2) ',
           'Argentina win on penalties (4 - 3) ',
              'Brazil win on penalties (4 - 2) ',
               'Spain win on penalties (3 - 2) ',
                           'Win on Golden Goal ',
      'Korea Republic win on penalties (3 - 5) ',
             'Ukraine win on penalties (0 - 3) ',
             'Germany win on penalties (4 - 2) ',
            'Portugal win on penalties (1 - 3) ',
               'Italy win on penalties (5 - 3) ',
                   'Ghana win after extra time ',
            'Paraguay win on penalties (5 - 3) ',
             'Uruguay win on penalties (4 - 2) ',
                   'Spain win after extra time ',
                 'Germany win after extra time ',
           'Argentina win on penalties (2 - 4) ',
         'Netherlands win on penalties (4 - 3) ',
          'Costa Rica win on penalties (5 - 3) ']
Length: 43, dtype: string

# Extract win_conditions column into multiple columns to show home team or away team wins

+ when_win_conditions: fulltime, extratime, penalty. 
+ penalty: Penalty Goals of Home Team and Away Team
+ penalty_home: penalty goals for home team
+ penalty_

In [16]:
import re
exp = re.compile(r'\((.*?)\)')
h_exp = re.compile(r'(^[^-]*[^ -])')
a_exp = re.compile(r'([^ -][^-]*$)')
WorldCupMatches[['penalty']] = WorldCupMatches['win_conditions'].str.extract(exp, expand=True)
WorldCupMatches[['penalty_home']] = WorldCupMatches['penalty'].str.extract(h_exp, expand=True) # matches everything before " - " not including space
WorldCupMatches[['penalty_away']] = WorldCupMatches['penalty'].str.extract(a_exp, expand=True) # matches everything after " - " not including space

In [17]:
when_win_conditions = "fulltime|extratime|penalty"
WorldCupMatches['when_win_conditions'] = WorldCupMatches.win_conditions.str.extract('('+when_win_conditions+')', expand=False)

WorldCupMatches.loc[WorldCupMatches['win_conditions'].str.contains("extra time"), 'when_win_conditions'] = 'extratime'
WorldCupMatches.loc[WorldCupMatches['win_conditions'].str.contains("penalties"), 'when_win_conditions'] = 'penalty'

WorldCupMatches['when_win_conditions'] = WorldCupMatches['when_win_conditions'].fillna('fulltime')

In [18]:
# print out list of District types
print(f'NUMBER OF CATEGORIES: {WorldCupMatches.when_win_conditions.nunique()}; \n\nUNIQUE NAMES OF THE CATEGORIES {WorldCupMatches.when_win_conditions.unique()}\n')

NUMBER OF CATEGORIES: 3;

UNIQUE NAMES OF THE CATEGORIES <StringArray>
['fulltime', 'extratime', 'penalty']
Length: 3, dtype: string

# Drop unecessary columns

In [19]:
WorldCupMatches = WorldCupMatches.drop(['win_conditions', 'penalty'], axis=1)

# Lower Case the content

In this section we will convert all the string value in the column to uppercase for further processing and keep all the string uniformly format. This will improve the analysis of the data, and also easier to perform any function related to the string.

# Final dataframes

In [20]:
WorldCupMatches.tail(3)

,year,round_id,match_id,date_time,stage,home_team_code,home_team_name,away_team_code,away_team_name,stadium,...,referee,assistant_1,assistant_2,half_time_home_goals,half_time_away_goals,home_team_goals,away_team_goals,penalty_home,penalty_away,when_win_conditions
833,2014,255951,300186459,2014-06-29 17:00:00,Round of 16,CRC,Costa Rica,GRE,Greece,Arena Pernambuco,...,Ben WILLIAMS (AUS),CREAM Matthew (AUS),ANAZ Hakan (AUS),0,0,1,1,5,3,penalty
834,2014,255951,300186503,2014-07-01 13:00:00,Round of 16,ARG,Argentina,SUI,Switzerland,Arena de Sao Paulo,...,ERIKSSON Jonas (SWE),KLASENIUS Mathias (SWE),WARNMARK Daniel (SWE),0,0,1,0,<NA>,<NA>,extratime
835,2014,255951,300186497,2014-07-01 17:00:00,Round of 16,BEL,Belgium,USA,USA,Arena Fonte Nova,...,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),0,0,2,1,<NA>,<NA>,extratime

In [21]:
WorldCups.tail(3)

,year,country,first,second,third,fourth,goals,nb_teams,nb_matches,attendance
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810

In [22]:
# Cast all values inside the dataframe (except the columns' name) into upper case.
WorldCups = WorldCups.applymap(lambda s: s.upper() if type(s) == str else s)
WorldCups = WorldCups.applymap(lambda s: s.upper() if type(s) == str else s)

<a id="3"></a>
<h1 style="color:#ffc0cb;font-size:40px;font-family:Georgia;text-align:center;"><strong>3. Save the Intermediate data that has been transformed</strong></h1>

In [23]:
# set the path of the cleaned data to data 
interim_data_path = os.path.join(os.path.pardir,'data','interim')
write_interim_path = os.path.join(interim_data_path, 'world_cup_matches.csv')
# To write the data from the data frame into a file, use the to_csv function.
WorldCupMatches.to_csv(write_interim_path, index=False)
# df.to_csv('Dash/cleaned_data.csv', index=False)
print("cleaned WorldCupMatches data was successfully saved!")

cleaned WorldCupMatches data was successfully saved!

In [24]:
# set the path of the cleaned data to data 
write_interim_path = os.path.join(interim_data_path, 'world_cups.csv')
# To write the data from the data frame into a file, use the to_csv function.
WorldCups.to_csv(write_interim_path, index=False)
print("cleaned WorldCups data was successfully saved!")

cleaned WorldCups data was successfully saved!