In [2]:
import pandas as pd
import numpy as np
import os

In [11]:
path = os.getcwd()
worldcup_path = os.path.join(path,"../data/external/WorldCups.csv")
matches_path = os.path.join(path,"../data/external/WorldCupMatches.csv")
players_path = os.path.join(path,"../data/external/WorldCupPlayers.csv")

# import dataset
worldcup_df = pd.read_csv(worldcup_path, delimiter=',', skipinitialspace = True)
matches_df = pd.read_csv(matches_path, delimiter=',', skipinitialspace = True)
players_df = pd.read_csv(players_path, delimiter=',', skipinitialspace = True)

worldcup_df.columns = ["year","country","first","second","third","fourth","goals","nb_teams","nb_matches","attendance"]
worldcup_df = worldcup_df.dropna(subset=["year"])
print("World Cup DataFrame:", str(worldcup_df.shape))
worldcup_df.head(3)

World Cup DataFrame: (20, 10)

,year,country,first,second,third,fourth,goals,nb_teams,nb_matches,attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700

In [12]:
matches_df.columns = ["year","date_time","stage","stadium","city","home_team_name","fthg", "ftag","away_team_name",
                      "win_conditions","attendance","htmg","htag",
                      "referee","assistant_1","assistant_2","round_id","match_id","home_team_code","away_team_code"]

matches_df=matches_df.dropna(subset=["year","match_id"])

matches_df=matches_df[["year","round_id","match_id","date_time","stage",
                       "home_team_code","home_team_name","away_team_code","away_team_name",
                       "stadium","city","attendance", "referee","assistant_1","assistant_2",
                       "htmg","htag","fthg", "ftag","win_conditions"
                      ]]
matches_df=matches_df.drop_duplicates(subset=["year", "match_id"], keep="first")
print("Matches DataFrame:", str(matches_df.shape))
matches_df.head(3)

Matches DataFrame: (836, 20)

,year,round_id,match_id,date_time,stage,home_team_code,home_team_name,away_team_code,away_team_name,stadium,city,attendance,referee,assistant_1,assistant_2,htmg,htag,fthg,ftag,win_conditions
0,1930.0,201.0,1096.0,13 Jul 1930 - 15:00,Group 1,FRA,France,MEX,Mexico,Pocitos,Montevideo,4444.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),3.0,0.0,4.0,1.0,
1,1930.0,201.0,1090.0,13 Jul 1930 - 15:00,Group 4,USA,USA,BEL,Belgium,Parque Central,Montevideo,18346.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),2.0,0.0,3.0,0.0,
2,1930.0,201.0,1093.0,14 Jul 1930 - 12:45,Group 2,YUG,Yugoslavia,BRA,Brazil,Parque Central,Montevideo,24059.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),2.0,0.0,2.0,1.0,

In [ ]:
#duplicated_rows = matches_df[matches_df.duplicated(["Year","MatchID"])]
#print("Duplicated Matches:", str(duplicated_rows.shape))
#duplicated_rows

In [13]:
players_df.columns = ["round_id","match_id","team_code","coach_name","line_up","shirt_number","player_name","position","event"]
players_df
players_df = players_df.dropna(subset=["match_id","team_code","player_name"])
print("Players DataFrame:", str(players_df.shape))
players_df.head(3)

Players DataFrame: (37784, 9)

,round_id,match_id,team_code,coach_name,line_up,shirt_number,player_name,position,event
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN
1,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'

In [ ]:
wins_condition.unique_values