
<h1 style="color:#ffc0cb;font-size:70px;font-family:Georgia;text-align:center;"><strong>National Leagues 2018-2019</strong></h1>

In [1]:
# Install a conda package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install missingno


# work with data in tabular representation
from datetime import time
import pandas as pd
# round the data in the correlation matrix
import numpy as np
import os


# Modules for data visualization
import seaborn as sns
import missingno as msno

# run a python file 
%run ../../src/cleaning/function.py

# ignore DeprecationWarning Error Messages
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: missingno in c:\users\thu\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: numpy in c:\users\thu\anaconda3\lib\site-packages (from missingno) (1.20.3)
Requirement already satisfied: scipy in c:\users\thu\anaconda3\lib\site-packages (from missingno) (1.7.1)
Requirement already satisfied: matplotlib in c:\users\thu\anaconda3\lib\site-packages (from missingno) (3.4.3)
Requirement already satisfied: seaborn in c:\users\thu\anaconda3\lib\site-packages (from missingno) (0.11.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\thu\anaconda3\lib\site-packages (from matplotlib->missingno) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\thu\anaconda3\lib\site-packages (from matplotlib->missingno) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\thu\anaconda3\lib\site-packages (from matplotlib->missingno) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\thu\anaconda3\lib\site-packages (from matplotlib->missingno) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\thu\anaconda3\lib\site-packages (from matplotlib->missingno) (2.8.2)
Requirement already satisfied: six in c:\users\thu\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->missingno) (1.16.0)
Requirement already satisfied: pandas>=0.23 in c:\users\thu\anaconda3\lib\site-packages (from seaborn->missingno) (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\thu\anaconda3\lib\site-packages (from pandas>=0.23->seaborn->missingno) (2021.3)

<a id="1.2"></a>
# Data Retrieving
***
In order to load data properly, the data in csv file have to be examined carefully. First of all, all the categories are seperated by the "," and strip the extra-whitespaces at the begin by setting "skipinitialspace = True".

In [2]:
# set the path of the external data from the third party source
external_data_path = os.path.join(os.path.pardir, '', '..', 'data','external', 'National Leagues', 'Season 2018-2019')

# get each specfic file
english_premier_league_df = os.path.join(external_data_path, 'E0_English Premier League_2018-2019.csv')
efl_championship_df = os.path.join(external_data_path, 'E1_EFL Championship_2018-2019.csv')
efl_league_one_df = os.path.join(external_data_path, 'E2_EFL League One_2018-2019.csv')
efl_league_two_df = os.path.join(external_data_path, 'E3_EFL League Two_2018-2019.csv')

# import dataset
english_premier_league_df = pd.read_csv(english_premier_league_df, delimiter=',', skipinitialspace = True)
efl_championship_df = pd.read_csv(efl_championship_df, delimiter=',', skipinitialspace = True)
efl_league_one_df = pd.read_csv(efl_league_one_df, delimiter=',', skipinitialspace = True)
efl_league_two_df = pd.read_csv(efl_league_two_df, delimiter=',', skipinitialspace = True)

# print out the shape
print("The shape of the E0_English Premier League 2018-2019 dataframe is (row, column):", str(english_premier_league_df.shape))
print("The shape of the E1_EFL Championship 2018-2019 dataframe is (row, column):", str(efl_championship_df.shape))
print("The shape of the E2_EFL League One 2018-2019 dataframe is (row, column):", str(efl_league_one_df.shape))
print("The shape of the E3_EFL League Two 2018-2019 dataframe is (row, column):", str(efl_league_two_df.shape), "\n\n")

The shape of the E0_English Premier League 2018-2019 dataframe is (row, column): (380, 62)
The shape of the E1_EFL Championship 2018-2019 dataframe is (row, column): (552, 62)
The shape of the E2_EFL League One 2018-2019 dataframe is (row, column): (552, 62)
The shape of the E3_EFL League Two 2018-2019 dataframe is (row, column): (552, 62)

In [3]:
style(english_premier_league_df.head(3))

In [4]:
style(efl_championship_df.head(3))

In [5]:
style(efl_league_one_df.head(3))

In [6]:
style(efl_league_two_df.head(3))

<a id="1.3"></a>
# [Rename columns base on their abbreviations](http://www.football-data.co.uk/notes.txt)
***
Since these columns are not in SQL naming convention will be more straightforward in later process. We will also analyse the column meaning

In [7]:
print(f'The list of E0_English Premier League 2018-2019 columns\' names is: {english_premier_league_df.columns.to_list()}\n\n\n')

The list of E0_English Premier League 2018-2019 columns' names is: ['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA']

In [8]:
# rename_cols(english_premier_league_df)
# rename_cols(efl_championship_df)
# rename_cols(efl_league_one_df)
# rename_cols(efl_league_two_df)

# print(f'The list of E0 English Premier League 2018-2019 columns\' names is: {english_premier_league_df.columns.to_list()}\n\n\n')

# Drop unecessary columns

In [9]:
english_premier_league_df = english_premier_league_df.drop(['PSCH', 'PSCD', 'PSCA'], axis=1)
efl_championship_df = efl_championship_df.drop(['PSCH', 'PSCD', 'PSCA'], axis=1)
efl_league_one_df = efl_league_one_df.drop(['PSCH', 'PSCD', 'PSCA'], axis=1)
efl_league_two_df = efl_league_two_df.drop(['PSCH', 'PSCD', 'PSCA'], axis=1)

In [10]:
print(f'The list of E0 English Premier League 2016 2017 columns\' names is: {english_premier_league_df.columns.to_list()}\n\n\n')

The list of E0 English Premier League 2016 2017 columns' names is: ['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA']

# Lower Case the content

In this section we will convert all the string value in the column to uppercase for further processing and keep all the string uniformly format. This will improve the analysis of the data, and also easier to perform any function related to the string.

In [11]:
# Cast all values inside the dataframe (except the columns' name) into upper case.
english_premier_league_df = english_premier_league_df.applymap(lambda s: s.lower() if type(s) == str else s)
efl_championship_df = efl_championship_df.applymap(lambda s: s.lower() if type(s) == str else s)
efl_league_one_df = efl_league_one_df.applymap(lambda s: s.lower() if type(s) == str else s)
efl_league_two_df = efl_league_two_df.applymap(lambda s: s.lower() if type(s) == str else s)

# Concat dataframes
Clear the existing index and reset it in the result by setting the ignore_index option to True.

In [12]:
df = pd.concat([english_premier_league_df, efl_championship_df, efl_league_one_df, efl_league_two_df], ignore_index=True)
df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA,Bb1X2,BbMxH,BbAvH,BbMxD,BbAvD,BbMxA,BbAvA,BbOU,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,e0,10/08/2018,man united,leicester,2,1,h,1.0,0.0,h,a marriner,8.0,13.0,6.0,4.0,11.0,8.0,2.0,5.0,2.0,1.0,0.0,0.0,1.57,3.9,7.50,1.53,4.0,7.50,1.55,3.80,7.00,1.58,3.93,7.50,1.57,3.8,6.00,1.57,4.0,7.00,39,1.60,1.56,4.20,3.92,8.05,7.06,38,2.12,2.03,1.85,1.79,17,-0.75,1.75,1.70,2.29,2.21
1,e0,11/08/2018,bournemouth,cardiff,2,0,h,1.0,0.0,h,k friend,12.0,10.0,4.0,1.0,11.0,9.0,7.0,4.0,1.0,1.0,0.0,0.0,1.90,3.6,4.50,1.90,3.4,4.40,1.90,3.50,4.10,1.89,3.63,4.58,1.91,3.5,4.00,1.87,3.6,4.75,39,1.93,1.88,3.71,3.53,4.75,4.37,38,2.05,1.98,1.92,1.83,20,-0.75,2.20,2.13,1.80,1.75
2,e0,11/08/2018,fulham,crystal palace,0,2,a,0.0,1.0,a,m dean,15.0,10.0,6.0,9.0,9.0,11.0,5.0,5.0,1.0,2.0,0.0,0.0,2.50,3.4,3.00,2.45,3.3,2.95,2.40,3.30,2.95,2.50,3.46,3.00,2.45,3.3,2.80,2.50,3.4,3.00,39,2.60,2.47,3.49,3.35,3.05,2.92,38,2.00,1.95,1.96,1.87,22,-0.25,2.18,2.11,1.81,1.77
3,e0,11/08/2018,huddersfield,chelsea,0,3,a,0.0,2.0,a,c kavanagh,6.0,13.0,1.0,4.0,9.0,8.0,2.0,5.0,2.0,1.0,0.0,0.0,6.50,4.0,1.61,6.25,3.9,1.57,6.20,4.00,1.55,6.41,4.02,1.62,5.80,3.9,1.57,6.50,4.0,1.62,38,6.85,6.09,4.07,3.90,1.66,1.61,37,2.05,1.98,1.90,1.84,23,1.00,1.84,1.80,2.13,2.06
4,e0,11/08/2018,newcastle,tottenham,1,2,a,1.0,2.0,a,m atkinson,15.0,15.0,2.0,5.0,11.0,12.0,3.0,5.0,2.0,2.0,0.0,0.0,3.90,3.5,2.04,3.80,3.5,2.00,3.70,3.35,2.05,3.83,3.57,2.08,3.80,3.2,2.05,3.90,3.4,2.10,39,4.01,3.83,3.57,3.40,2.12,2.05,38,2.10,2.01,1.88,1.81,20,0.25,2.20,2.12,1.80,1.76

# Data types

In [13]:
# convert columns to the best possible dtypes, object->string
df = df.convert_dtypes()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2036 entries, 0 to 2035
Data columns (total 59 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       2036 non-null   string
 1   Date      2036 non-null   string
 2   HomeTeam  2036 non-null   string
 3   AwayTeam  2036 non-null   string
 4   FTHG      2036 non-null   Int64
 5   FTAG      2036 non-null   Int64
 6   FTR       2036 non-null   string
 7   HTHG      2035 non-null   Int64
 8   HTAG      2035 non-null   Int64
 9   HTR       2035 non-null   string
 10  Referee   2035 non-null   string
 11  HS        2035 non-null   Int64
 12  AS        2035 non-null   Int64
 13  HST       2035 non-null   Int64
 14  AST       2035 non-null   Int64
 15  HF        2035 non-null   Int64
 16  AF        2035 non-null   Int64
 17  HC        2035 non-null   Int64
 18  AC        2035 non-null   Int64
 19  HY        2035 non-null   Int64
 20  AY        2035 non-null   Int64
 21  HR        2035 non-null   Int64
 22  AR        2035 non-null   Int64
 23  B365H     2036 non-null   Float64
 24  B365D     2036 non-null   Float64
 25  B365A     2036 non-null   Float64
 26  BWH       2035 non-null   Float64
 27  BWD       2035 non-null   Float64
 28  BWA       2035 non-null   Float64
 29  IWH       2036 non-null   Float64
 30  IWD       2036 non-null   Float64
 31  IWA       2036 non-null   Float64
 32  PSH       2034 non-null   Float64
 33  PSD       2034 non-null   Float64
 34  PSA       2034 non-null   Float64
 35  WHH       2035 non-null   Float64
 36  WHD       2035 non-null   Float64
 37  WHA       2035 non-null   Float64
 38  VCH       2036 non-null   Float64
 39  VCD       2036 non-null   Float64
 40  VCA       2036 non-null   Float64
 41  Bb1X2     2036 non-null   Int64
 42  BbMxH     2036 non-null   Float64
 43  BbAvH     2036 non-null   Float64
 44  BbMxD     2036 non-null   Float64
 45  BbAvD     2036 non-null   Float64
 46  BbMxA     2036 non-null   Float64
 47  BbAvA     2036 non-null   Float64
 48  BbOU      2036 non-null   Int64
 49  BbMx>2.5  2036 non-null   Float64
 50  BbAv>2.5  2036 non-null   Float64
 51  BbMx<2.5  2036 non-null   Float64
 52  BbAv<2.5  2036 non-null   Float64
 53  BbAH      2036 non-null   Int64
 54  BbAHh     2036 non-null   Float64
 55  BbMxAHH   2036 non-null   Float64
 56  BbAvAHH   2036 non-null   Float64
 57  BbMxAHA   2036 non-null   Float64
 58  BbAvAHA   2036 non-null   Float64
dtypes: Float64(33), Int64(19), string(7)
memory usage: 1.0 MB

<a id="2.2.1"></a>
# Format date features

In [14]:
# Cast date columns to the Date data type
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2036 entries, 0 to 2035
Data columns (total 59 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       2036 non-null   string
 1   Date      2036 non-null   datetime64[ns]
 2   HomeTeam  2036 non-null   string
 3   AwayTeam  2036 non-null   string
 4   FTHG      2036 non-null   Int64
 5   FTAG      2036 non-null   Int64
 6   FTR       2036 non-null   string
 7   HTHG      2035 non-null   Int64
 8   HTAG      2035 non-null   Int64
 9   HTR       2035 non-null   string
 10  Referee   2035 non-null   string
 11  HS        2035 non-null   Int64
 12  AS        2035 non-null   Int64
 13  HST       2035 non-null   Int64
 14  AST       2035 non-null   Int64
 15  HF        2035 non-null   Int64
 16  AF        2035 non-null   Int64
 17  HC        2035 non-null   Int64
 18  AC        2035 non-null   Int64
 19  HY        2035 non-null   Int64
 20  AY        2035 non-null   Int64
 21  HR        2035 non-null   Int64
 22  AR        2035 non-null   Int64
 23  B365H     2036 non-null   Float64
 24  B365D     2036 non-null   Float64
 25  B365A     2036 non-null   Float64
 26  BWH       2035 non-null   Float64
 27  BWD       2035 non-null   Float64
 28  BWA       2035 non-null   Float64
 29  IWH       2036 non-null   Float64
 30  IWD       2036 non-null   Float64
 31  IWA       2036 non-null   Float64
 32  PSH       2034 non-null   Float64
 33  PSD       2034 non-null   Float64
 34  PSA       2034 non-null   Float64
 35  WHH       2035 non-null   Float64
 36  WHD       2035 non-null   Float64
 37  WHA       2035 non-null   Float64
 38  VCH       2036 non-null   Float64
 39  VCD       2036 non-null   Float64
 40  VCA       2036 non-null   Float64
 41  Bb1X2     2036 non-null   Int64
 42  BbMxH     2036 non-null   Float64
 43  BbAvH     2036 non-null   Float64
 44  BbMxD     2036 non-null   Float64
 45  BbAvD     2036 non-null   Float64
 46  BbMxA     2036 non-null   Float64
 47  BbAvA     2036 non-null   Float64
 48  BbOU      2036 non-null   Int64
 49  BbMx>2.5  2036 non-null   Float64
 50  BbAv>2.5  2036 non-null   Float64
 51  BbMx<2.5  2036 non-null   Float64
 52  BbAv<2.5  2036 non-null   Float64
 53  BbAH      2036 non-null   Int64
 54  BbAHh     2036 non-null   Float64
 55  BbMxAHH   2036 non-null   Float64
 56  BbAvAHH   2036 non-null   Float64
 57  BbMxAHA   2036 non-null   Float64
 58  BbAvAHA   2036 non-null   Float64
dtypes: Float64(33), Int64(19), datetime64[ns](1), string(6)
memory usage: 1.0 MB

# DROP NA & DUPLICATION

+ world_cup dataframe: year is the primary key

+ world_cup_match dataframe: year,match_id are the primary key

In [15]:
print("Number of rows before drop of duplicates in National Leagues:", len(df.index))
print("Number of duplicated records in National Leagues: ", df.duplicated().sum())
df = df.drop_duplicates(subset=['Div', 'Date', 'HomeTeam', 'AwayTeam'], keep="first")
print("Number of duplicated records AFTER DROP in National Leagues: ", df.duplicated().sum())
print("Number of rows after drop of duplicates in National Leagues:", len(df.index), "\n\n")

Number of rows before drop of duplicates in National Leagues: 2036
Number of duplicated records in National Leagues:  0
Number of duplicated records AFTER DROP in National Leagues:  0
Number of rows after drop of duplicates in National Leagues: 2036

In [16]:
print("The National Leagues dataframe BEFORE dropped has {} rows and {} columns".format(df.shape[0], df.shape[1]))
df = df.dropna(subset=['Div', 'Date', 'HomeTeam', 'AwayTeam'])
# display missing values in descending
print("The National Leagues dataframe AFTER dropped has {} rows and {} columns".format(df.shape[0], df.shape[1]),"\n\n\n")

The National Leagues dataframe BEFORE dropped has 2036 rows and 59 columns
The National Leagues dataframe AFTER dropped has 2036 rows and 59 columns

<a id="3"></a>
<h1 style="color:#ffc0cb;font-size:40px;font-family:Georgia;text-align:center;"><strong>3. Save the Intermediate data that has been transformed</strong></h1>

In [17]:
write_interim_path(df, '2018-2019.csv', 'national_leagues')

cleaned 2018-2019.csv data was successfully saved!