
<h1 style="color:#ffc0cb;font-size:70px;font-family:Georgia;text-align:center;"><strong>National Leagues</strong></h1>

In [1]:
# Install a conda package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install missingno


# work with data in tabular representation
from datetime import time
import pandas as pd
# round the data in the correlation matrix
import numpy as np
import os


# Modules for data visualization
import seaborn as sns
import missingno as msno

# run a python function file 
%run ../../src/cleaning/function.py

# ignore DeprecationWarning Error Messages
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: missingno in c:\users\thu\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: seaborn in c:\users\thu\anaconda3\lib\site-packages (from missingno) (0.11.2)
Requirement already satisfied: matplotlib in c:\users\thu\anaconda3\lib\site-packages (from missingno) (3.4.3)
Requirement already satisfied: numpy in c:\users\thu\anaconda3\lib\site-packages (from missingno) (1.20.3)
Requirement already satisfied: scipy in c:\users\thu\anaconda3\lib\site-packages (from missingno) (1.7.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\thu\anaconda3\lib\site-packages (from matplotlib->missingno) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\thu\anaconda3\lib\site-packages (from matplotlib->missingno) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\thu\anaconda3\lib\site-packages (from matplotlib->missingno) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\thu\anaconda3\lib\site-packages (from matplotlib->missingno) (8.4.0)
Requirement already satisfied: cycler>=0.10 in c:\users\thu\anaconda3\lib\site-packages (from matplotlib->missingno) (0.10.0)
Requirement already satisfied: six in c:\users\thu\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->missingno) (1.16.0)
Requirement already satisfied: pandas>=0.23 in c:\users\thu\anaconda3\lib\site-packages (from seaborn->missingno) (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\thu\anaconda3\lib\site-packages (from pandas>=0.23->seaborn->missingno) (2021.3)

<a id="1.2"></a>
# Data Retrieving
***

In [2]:
# 2016-2017
df_2016_2017 = concat_all('E0_English Premier League_2016-2017.csv', 'E1_EFL Championship_2016-2017.csv', 
           'E2_EFL League One_2016-2017.csv', 'E3_EFL League Two_2016-2017.csv',
               'Season 2016-2017')

The shape of the English Premier League Season 2016-2017 is (row, column): (380, 65)

The shape of the Championship Season 2016-2017 is (row, column): (552, 65)

The shape of the League One Season 2016-2017 is (row, column): (552, 65)

The shape of the League Two Season 2016-2017 is (row, column): (552, 65)

NUMBER OF DATE CATEGORIES: 188;

UNIQUE NAMES OF THE DATE CATEGORIES ['13/08/16' '14/08/16' '15/08/16' '19/08/16' '20/08/16' '21/08/16'
 '27/08/16' '28/08/16' '10/09/16' '11/09/16' '12/09/16' '16/09/16'
 '17/09/16' '18/09/16' '24/09/16' '25/09/16' '26/09/16' '30/09/16'
 '01/10/16' '02/10/16' '15/10/16' '16/10/16' '17/10/16' '22/10/16'
 '23/10/16' '29/10/16' '30/10/16' '31/10/16' '05/11/16' '06/11/16'
 '19/11/16' '20/11/16' '21/11/16' '26/11/16' '27/11/16' '03/12/16'
 '04/12/16' '05/12/16' '10/12/16' '11/12/16' '13/12/16' '14/12/16'
 '17/12/16' '18/12/16' '19/12/16' '26/12/16' '27/12/16' '28/12/16'
 '30/12/16' '31/12/16' '01/01/17' '02/01/17' '03/01/17' '04/01/17'
 '14/01/17' '15/01/17' '21/01/17' '22/01/17' '31/01/17' '01/02/17'
 '04/02/17' '05/02/17' '11/02/17' '12/02/17' '13/02/17' '25/02/17'
 '26/02/17' '27/02/17' '04/03/17' '05/03/17' '06/03/17' '08/03/17'
 '11/03/17' '12/03/17' '18/03/17' '19/03/17' '01/04/17' '02/04/17'
 '04/04/17' '05/04/17' '08/04/17' '09/04/17' '10/04/17' '15/04/17'
 '16/04/17' '17/04/17' '22/04/17' '23/04/17' '25/04/17' '26/04/17'
 '27/04/17' '29/04/17' '30/04/17' '01/05/17' '05/05/17' '06/05/17'
 '07/05/17' '08/05/17' '10/05/17' '12/05/17' '13/05/17' '14/05/17'
 '15/05/17' '16/05/17' '17/05/17' '18/05/17' '21/05/17' '05/08/16'
 '06/08/16' '07/08/16' '12/08/16' '16/08/16' '17/08/16' '26/08/16'
 '09/09/16' '13/09/16' '14/09/16' '23/09/16' '27/09/16' '28/09/16'
 '14/10/16' '18/10/16' '19/10/16' '21/10/16' '28/10/16' '04/11/16'
 '18/11/16' '25/11/16' '28/11/16' '01/12/16' '02/12/16' '09/12/16'
 '16/12/16' '29/12/16' '12/01/17' '13/01/17' '20/01/17' '24/01/17'
 '25/01/17' '28/01/17' '02/02/17' '03/02/17' '07/02/17' '10/02/17'
 '14/02/17' '18/02/17' '20/02/17' '21/02/17' '22/02/17' '24/02/17'
 '28/02/17' '03/03/17' '07/03/17' '10/03/17' '14/03/17' '17/03/17'
 '31/03/17' '07/04/17' '13/04/17' '14/04/17' '21/04/17' '24/04/17'
 '28/04/17' '03/09/16' '04/09/16' '20/09/16' '08/10/16' '09/10/16'
 '24/10/16' '01/11/16' '12/11/16' '13/11/16' '22/11/16' '29/11/16'
 '12/12/16' '15/12/16' '21/12/16' '07/01/17' '21/03/17' '25/03/17'
 '26/03/17' '28/03/17' '18/04/17' '11/10/16' '25/10/16' '06/12/16'
 '05/01/17' '15/03/17']

The number of columns: 24
The list of the Season 2016-2017 final columns' names is: ['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'match']

In [3]:
# 2017-2018
df_2017_2018 = concat_all('E0_English Premier League_2017-2018.csv', 'E1_EFL Championship_2017-2018.csv',
           'E2_EFL League One_2017-2018.csv', 'E3_EFL League Two_2017-2018.csv',
               'Season 2017-2018')

The shape of the English Premier League Season 2017-2018 is (row, column): (380, 65)

The shape of the Championship Season 2017-2018 is (row, column): (552, 65)

The shape of the League One Season 2017-2018 is (row, column): (552, 65)

The shape of the League Two Season 2017-2018 is (row, column): (552, 65)

NUMBER OF DATE CATEGORIES: 274;

UNIQUE NAMES OF THE DATE CATEGORIES ['11/08/2017' '12/08/2017' '13/08/2017' '19/08/2017' '20/08/2017'
 '21/08/2017' '26/08/2017' '27/08/2017' '09/09/2017' '10/09/2017'
 '11/09/2017' '15/09/2017' '16/09/2017' '17/09/2017' '23/09/2017'
 '24/09/2017' '25/09/2017' '30/09/2017' '01/10/2017' '14/10/2017'
 '15/10/2017' '16/10/2017' '20/10/2017' '21/10/2017' '22/10/2017'
 '28/10/2017' '29/10/2017' '30/10/2017' '04/11/2017' '05/11/2017'
 '18/11/2017' '19/11/2017' '20/11/2017' '24/11/2017' '25/11/2017'
 '26/11/2017' '28/11/2017' '29/11/2017' '02/12/2017' '03/12/2017'
 '09/12/2017' '10/12/2017' '12/12/2017' '13/12/2017' '16/12/2017'
 '17/12/2017' '18/12/2017' '22/12/2017' '23/12/2017' '26/12/2017'
 '27/12/2017' '28/12/2017' '30/12/2017' '31/12/2017' '01/01/2018'
 '02/01/2018' '03/01/2018' '04/01/2018' '13/01/2018' '14/01/2018'
 '15/01/2018' '20/01/2018' '21/01/2018' '22/01/2018' '30/01/2018'
 '31/01/2018' '03/02/2018' '04/02/2018' '05/02/2018' '10/02/2018'
 '11/02/2018' '12/02/2018' '24/02/2018' '25/02/2018' '01/03/2018'
 '03/03/2018' '04/03/2018' '05/03/2018' '10/03/2018' '11/03/2018'
 '12/03/2018' '17/03/2018' '31/03/2018' '01/04/2018' '07/04/2018'
 '08/04/2018' '14/04/2018' '15/04/2018' '16/04/2018' '17/04/2018'
 '18/04/2018' '19/04/2018' '21/04/2018' '22/04/2018' '23/04/2018'
 '28/04/2018' '29/04/2018' '30/04/2018' '04/05/2018' '05/05/2018'
 '06/05/2018' '08/05/2018' '09/05/2018' '10/05/2018' '13/05/2018'
 '04/08/17' '05/08/17' '06/08/17' '12/08/17' '13/08/17' '15/08/17'
 '16/08/17' '18/08/17' '19/08/17' '25/08/17' '26/08/17' '08/09/17'
 '09/09/17' '12/09/17' '13/09/17' '16/09/17' '23/09/17' '24/09/17'
 '26/09/17' '27/09/17' '29/09/17' '30/09/17' '01/10/17' '13/10/17'
 '14/10/17' '15/10/17' '21/10/17' '22/10/17' '27/10/17' '28/10/17'
 '29/10/17' '31/10/17' '01/11/17' '03/11/17' '04/11/17' '05/11/17'
 '17/11/17' '18/11/17' '19/11/17' '21/11/17' '22/11/17' '25/11/17'
 '26/11/17' '27/11/17' '28/11/17' '01/12/17' '02/12/17' '04/12/17'
 '08/12/17' '09/12/17' '11/12/17' '15/12/17' '16/12/17' '22/12/17'
 '23/12/17' '26/12/17' '29/12/17' '30/12/17' '01/01/18' '02/01/18'
 '12/01/18' '13/01/18' '19/01/18' '20/01/18' '27/01/18' '30/01/18'
 '02/02/18' '03/02/18' '09/02/18' '10/02/18' '11/02/18' '13/02/18'
 '17/02/18' '18/02/18' '20/02/18' '21/02/18' '23/02/18' '24/02/18'
 '25/02/18' '27/02/18' '02/03/18' '03/03/18' '06/03/18' '07/03/18'
 '10/03/18' '11/03/18' '13/03/18' '17/03/18' '30/03/18' '31/03/18'
 '02/04/18' '03/04/18' '06/04/18' '07/04/18' '10/04/18' '11/04/18'
 '13/04/18' '14/04/18' '15/04/18' '20/04/18' '21/04/18' '24/04/18'
 '27/04/18' '28/04/18' '06/05/18' '02/09/17' '03/09/17' '17/09/17'
 '19/09/17' '22/09/17' '07/10/17' '08/10/17' '17/10/17' '24/10/17'
 '11/11/17' '12/11/17' '17/12/17' '06/01/18' '23/01/18' '06/02/18'
 '19/02/18' '04/03/18' '14/03/18' '19/03/18' '20/03/18' '21/03/18'
 '24/03/18' '25/03/18' '29/03/18' '12/04/18' '17/04/18' '19/04/18'
 '01/05/18' '05/05/18' '05/08/2017' '25/08/2017' '02/09/2017' '12/09/2017'
 '22/09/2017' '26/09/2017' '07/10/2017' '17/10/2017' '10/11/2017'
 '11/11/2017' '21/11/2017' '15/12/2017' '29/12/2017' '06/01/2018'
 '19/01/2018' '23/01/2018' '27/01/2018' '06/02/2018' '09/02/2018'
 '13/02/2018' '17/02/2018' '20/02/2018' '27/02/2018' '06/03/2018'
 '13/03/2018' '20/03/2018' '21/03/2018' '24/03/2018' '25/03/2018'
 '30/03/2018' '02/04/2018' '10/04/2018' '20/04/2018' '24/04/2018'
 '01/05/2018']

The number of columns: 24
The list of the Season 2017-2018 final columns' names is: ['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'match']

In [4]:
# 2018-2019
df_2018_2019 = concat_all('E0_English Premier League_2018-2019.csv', 'E1_EFL Championship_2018-2019.csv',
           'E2_EFL League One_2018-2019.csv', 'E3_EFL League Two_2018-2019.csv',
               'Season 2018-2019')

The shape of the English Premier League Season 2018-2019 is (row, column): (380, 62)

The shape of the Championship Season 2018-2019 is (row, column): (552, 62)

The shape of the League One Season 2018-2019 is (row, column): (552, 62)

The shape of the League Two Season 2018-2019 is (row, column): (552, 62)

NUMBER OF DATE CATEGORIES: 181;

UNIQUE NAMES OF THE DATE CATEGORIES ['10/08/2018' '11/08/2018' '12/08/2018' '18/08/2018' '19/08/2018'
 '20/08/2018' '25/08/2018' '26/08/2018' '27/08/2018' '01/09/2018'
 '02/09/2018' '15/09/2018' '16/09/2018' '17/09/2018' '22/09/2018'
 '23/09/2018' '29/09/2018' '30/09/2018' '01/10/2018' '05/10/2018'
 '06/10/2018' '07/10/2018' '20/10/2018' '21/10/2018' '22/10/2018'
 '27/10/2018' '28/10/2018' '29/10/2018' '03/11/2018' '04/11/2018'
 '05/11/2018' '10/11/2018' '11/11/2018' '24/11/2018' '25/11/2018'
 '26/11/2018' '30/11/2018' '01/12/2018' '02/12/2018' '04/12/2018'
 '05/12/2018' '08/12/2018' '09/12/2018' '10/12/2018' '15/12/2018'
 '16/12/2018' '21/12/2018' '22/12/2018' '23/12/2018' '26/12/2018'
 '27/12/2018' '29/12/2018' '30/12/2018' '01/01/2019' '02/01/2019'
 '03/01/2019' '12/01/2019' '13/01/2019' '14/01/2019' '19/01/2019'
 '20/01/2019' '29/01/2019' '30/01/2019' '02/02/2019' '03/02/2019'
 '04/02/2019' '06/02/2019' '09/02/2019' '10/02/2019' '11/02/2019'
 '22/02/2019' '23/02/2019' '24/02/2019' '26/02/2019' '27/02/2019'
 '02/03/2019' '03/03/2019' '09/03/2019' '10/03/2019' '16/03/2019'
 '17/03/2019' '30/03/2019' '31/03/2019' '01/04/2019' '02/04/2019'
 '03/04/2019' '05/04/2019' '06/04/2019' '07/04/2019' '08/04/2019'
 '12/04/2019' '13/04/2019' '14/04/2019' '15/04/2019' '16/04/2019'
 '20/04/2019' '21/04/2019' '22/04/2019' '23/04/2019' '24/04/2019'
 '26/04/2019' '27/04/2019' '28/04/2019' '03/05/2019' '04/05/2019'
 '05/05/2019' '06/05/2019' '12/05/2019' '03/08/2018' '04/08/2018'
 '05/08/2018' '06/08/2018' '07/08/2018' '17/08/2018' '21/08/2018'
 '22/08/2018' '24/08/2018' '31/08/2018' '14/09/2018' '18/09/2018'
 '19/09/2018' '21/09/2018' '28/09/2018' '02/10/2018' '03/10/2018'
 '19/10/2018' '23/10/2018' '24/10/2018' '26/10/2018' '02/11/2018'
 '09/11/2018' '23/11/2018' '27/11/2018' '28/11/2018' '03/12/2018'
 '07/12/2018' '14/12/2018' '17/12/2018' '11/01/2019' '18/01/2019'
 '21/01/2019' '26/01/2019' '01/02/2019' '08/02/2019' '12/02/2019'
 '13/02/2019' '16/02/2019' '17/02/2019' '19/02/2019' '20/02/2019'
 '25/02/2019' '01/03/2019' '04/03/2019' '05/03/2019' '08/03/2019'
 '12/03/2019' '13/03/2019' '29/03/2019' '09/04/2019' '10/04/2019'
 '19/04/2019' '30/04/2019' '01/05/2019' '08/09/2018' '09/09/2018'
 '13/10/2018' '06/11/2018' '17/11/2018' '11/12/2018' '05/01/2019'
 '22/01/2019' '15/02/2019' '15/03/2019' '23/03/2019' '26/03/2019'
 '25/09/2018' '12/10/2018' '30/10/2018' '15/01/2019' '05/02/2019'
 '18/03/2019']

The number of columns: 24
The list of the Season 2018-2019 final columns' names is: ['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'match']

In [5]:
# 2019-2020
df_2019_2020 = concat_all('E0_English Premier League_2019-2020.csv', 'E1_EFL Championship_2019-2020.csv',
           'E2_EFL League One_2019-2020.csv', 'E3_EFL League Two_2019-2020.csv',
               'Season 2019-2020')

The shape of the English Premier League Season 2019-2020 is (row, column): (380, 106)

The shape of the Championship Season 2019-2020 is (row, column): (552, 106)

The shape of the League One Season 2019-2020 is (row, column): (400, 106)

The shape of the League Two Season 2019-2020 is (row, column): (440, 106)

NUMBER OF DATE CATEGORIES: 178;

UNIQUE NAMES OF THE DATE CATEGORIES ['09/08/2019' '10/08/2019' '11/08/2019' '17/08/2019' '18/08/2019'
 '19/08/2019' '23/08/2019' '24/08/2019' '25/08/2019' '31/08/2019'
 '01/09/2019' '14/09/2019' '15/09/2019' '16/09/2019' '20/09/2019'
 '21/09/2019' '22/09/2019' '28/09/2019' '29/09/2019' '30/09/2019'
 '05/10/2019' '06/10/2019' '19/10/2019' '20/10/2019' '21/10/2019'
 '25/10/2019' '26/10/2019' '27/10/2019' '02/11/2019' '03/11/2019'
 '08/11/2019' '09/11/2019' '10/11/2019' '23/11/2019' '24/11/2019'
 '25/11/2019' '30/11/2019' '01/12/2019' '03/12/2019' '04/12/2019'
 '05/12/2019' '07/12/2019' '08/12/2019' '09/12/2019' '14/12/2019'
 '15/12/2019' '16/12/2019' '21/12/2019' '22/12/2019' '26/12/2019'
 '27/12/2019' '28/12/2019' '29/12/2019' '01/01/2020' '02/01/2020'
 '10/01/2020' '11/01/2020' '12/01/2020' '18/01/2020' '19/01/2020'
 '21/01/2020' '22/01/2020' '23/01/2020' '29/01/2020' '01/02/2020'
 '02/02/2020' '08/02/2020' '09/02/2020' '14/02/2020' '15/02/2020'
 '16/02/2020' '17/02/2020' '19/02/2020' '22/02/2020' '23/02/2020'
 '24/02/2020' '28/02/2020' '29/02/2020' '01/03/2020' '07/03/2020'
 '08/03/2020' '09/03/2020' '17/06/2020' '19/06/2020' '20/06/2020'
 '21/06/2020' '22/06/2020' '23/06/2020' '24/06/2020' '25/06/2020'
 '27/06/2020' '28/06/2020' '29/06/2020' '30/06/2020' '01/07/2020'
 '02/07/2020' '04/07/2020' '05/07/2020' '06/07/2020' '07/07/2020'
 '08/07/2020' '09/07/2020' '11/07/2020' '12/07/2020' '13/07/2020'
 '14/07/2020' '15/07/2020' '16/07/2020' '17/07/2020' '18/07/2020'
 '19/07/2020' '20/07/2020' '21/07/2020' '22/07/2020' '26/07/2020'
 '02/08/2019' '03/08/2019' '04/08/2019' '05/08/2019' '16/08/2019'
 '20/08/2019' '21/08/2019' '30/08/2019' '13/09/2019' '27/09/2019'
 '01/10/2019' '02/10/2019' '04/10/2019' '18/10/2019' '22/10/2019'
 '23/10/2019' '28/10/2019' '01/11/2019' '04/11/2019' '22/11/2019'
 '26/11/2019' '27/11/2019' '29/11/2019' '02/12/2019' '06/12/2019'
 '10/12/2019' '11/12/2019' '13/12/2019' '20/12/2019' '23/12/2019'
 '30/12/2019' '17/01/2020' '20/01/2020' '25/01/2020' '28/01/2020'
 '31/01/2020' '07/02/2020' '11/02/2020' '12/02/2020' '21/02/2020'
 '25/02/2020' '26/02/2020' '02/03/2020' '06/03/2020' '26/06/2020'
 '03/07/2020' '10/07/2020' '07/09/2019' '17/09/2019' '07/10/2019'
 '12/10/2019' '13/10/2019' '05/11/2019' '16/11/2019' '17/11/2019'
 '04/01/2020' '07/01/2020' '14/01/2020' '24/01/2020' '04/02/2020'
 '18/02/2020' '03/03/2020' '10/03/2020']

The number of columns: 24
The list of the Season 2019-2020 final columns' names is: ['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'match']

In [6]:
# 2020-2021
df_2020_2021 = concat_all('E0_English Premier League_2020-2021.csv', 'E1_EFL Championship_2020-2021.csv',
           'E2_EFL League One_2020-2021.csv', 'E3_EFL League Two_2020-2021.csv',
               'Season 2020-2021')

The shape of the English Premier League Season 2020-2021 is (row, column): (380, 106)

The shape of the Championship Season 2020-2021 is (row, column): (552, 106)

The shape of the League One Season 2020-2021 is (row, column): (552, 106)

The shape of the League Two Season 2020-2021 is (row, column): (552, 106)

NUMBER OF DATE CATEGORIES: 193;

UNIQUE NAMES OF THE DATE CATEGORIES ['12/09/2020' '13/09/2020' '14/09/2020' '19/09/2020' '20/09/2020'
 '21/09/2020' '26/09/2020' '27/09/2020' '28/09/2020' '03/10/2020'
 '04/10/2020' '17/10/2020' '18/10/2020' '19/10/2020' '23/10/2020'
 '24/10/2020' '25/10/2020' '26/10/2020' '30/10/2020' '31/10/2020'
 '01/11/2020' '02/11/2020' '06/11/2020' '07/11/2020' '08/11/2020'
 '21/11/2020' '22/11/2020' '23/11/2020' '27/11/2020' '28/11/2020'
 '29/11/2020' '30/11/2020' '05/12/2020' '06/12/2020' '07/12/2020'
 '11/12/2020' '12/12/2020' '13/12/2020' '15/12/2020' '16/12/2020'
 '17/12/2020' '19/12/2020' '20/12/2020' '21/12/2020' '26/12/2020'
 '27/12/2020' '28/12/2020' '29/12/2020' '30/12/2020' '01/01/2021'
 '02/01/2021' '03/01/2021' '04/01/2021' '12/01/2021' '13/01/2021'
 '14/01/2021' '16/01/2021' '17/01/2021' '18/01/2021' '19/01/2021'
 '20/01/2021' '21/01/2021' '23/01/2021' '26/01/2021' '27/01/2021'
 '28/01/2021' '30/01/2021' '31/01/2021' '02/02/2021' '03/02/2021'
 '04/02/2021' '06/02/2021' '07/02/2021' '08/02/2021' '13/02/2021'
 '14/02/2021' '15/02/2021' '17/02/2021' '19/02/2021' '20/02/2021'
 '21/02/2021' '22/02/2021' '23/02/2021' '27/02/2021' '28/02/2021'
 '01/03/2021' '02/03/2021' '03/03/2021' '04/03/2021' '06/03/2021'
 '07/03/2021' '08/03/2021' '10/03/2021' '12/03/2021' '13/03/2021'
 '14/03/2021' '15/03/2021' '19/03/2021' '20/03/2021' '21/03/2021'
 '03/04/2021' '04/04/2021' '05/04/2021' '09/04/2021' '10/04/2021'
 '11/04/2021' '12/04/2021' '16/04/2021' '17/04/2021' '18/04/2021'
 '19/04/2021' '20/04/2021' '21/04/2021' '22/04/2021' '23/04/2021'
 '24/04/2021' '25/04/2021' '26/04/2021' '30/04/2021' '01/05/2021'
 '02/05/2021' '03/05/2021' '07/05/2021' '08/05/2021' '09/05/2021'
 '10/05/2021' '11/05/2021' '12/05/2021' '13/05/2021' '14/05/2021'
 '15/05/2021' '16/05/2021' '18/05/2021' '19/05/2021' '23/05/2021'
 '11/09/2020' '18/09/2020' '25/09/2020' '02/10/2020' '16/10/2020'
 '20/10/2020' '21/10/2020' '27/10/2020' '28/10/2020' '03/11/2020'
 '04/11/2020' '20/11/2020' '24/11/2020' '25/11/2020' '01/12/2020'
 '02/12/2020' '04/12/2020' '08/12/2020' '09/12/2020' '18/12/2020'
 '22/01/2021' '24/01/2021' '29/01/2021' '01/02/2021' '05/02/2021'
 '09/02/2021' '10/02/2021' '12/02/2021' '16/02/2021' '24/02/2021'
 '26/02/2021' '05/03/2021' '09/03/2021' '16/03/2021' '17/03/2021'
 '02/04/2021' '06/04/2021' '13/04/2021' '15/04/2021' '27/04/2021'
 '04/05/2021' '09/10/2020' '10/10/2020' '14/11/2020' '16/11/2020'
 '17/11/2020' '22/12/2020' '08/01/2021' '09/01/2021' '23/03/2021'
 '26/03/2021' '27/03/2021' '31/03/2021' '12/10/2020' '13/10/2020'
 '13/11/2020' '05/01/2021' '30/03/2021']

The number of columns: 24
The list of the Season 2020-2021 final columns' names is: ['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'match']

In [7]:
# 2021-2022
df_2021_2022 = concat_all('E0_English Premier League_2021-2022.csv', 'E1_EFL Championship_2021-2022.csv', 
           'E2_EFL League One_2021-2022.csv', 'E3_EFL League Two_2021-2022.csv',
               'Season 2021-2022')

The shape of the English Premier League Season 2021-2022 is (row, column): (244, 106)

The shape of the Championship Season 2021-2022 is (row, column): (380, 106)

The shape of the League One Season 2021-2022 is (row, column): (385, 106)

The shape of the League Two Season 2021-2022 is (row, column): (370, 106)

NUMBER OF DATE CATEGORIES: 130;

UNIQUE NAMES OF THE DATE CATEGORIES ['13/08/2021' '14/08/2021' '15/08/2021' '21/08/2021' '22/08/2021'
 '23/08/2021' '28/08/2021' '29/08/2021' '11/09/2021' '12/09/2021'
 '13/09/2021' '17/09/2021' '18/09/2021' '19/09/2021' '25/09/2021'
 '26/09/2021' '27/09/2021' '02/10/2021' '03/10/2021' '16/10/2021'
 '17/10/2021' '18/10/2021' '22/10/2021' '23/10/2021' '24/10/2021'
 '30/10/2021' '31/10/2021' '01/11/2021' '05/11/2021' '06/11/2021'
 '07/11/2021' '20/11/2021' '21/11/2021' '27/11/2021' '28/11/2021'
 '30/11/2021' '01/12/2021' '02/12/2021' '04/12/2021' '05/12/2021'
 '06/12/2021' '10/12/2021' '11/12/2021' '12/12/2021' '14/12/2021'
 '15/12/2021' '16/12/2021' '18/12/2021' '19/12/2021' '26/12/2021'
 '27/12/2021' '28/12/2021' '29/12/2021' '30/12/2021' '01/01/2022'
 '02/01/2022' '03/01/2022' '11/01/2022' '12/01/2022' '14/01/2022'
 '15/01/2022' '16/01/2022' '18/01/2022' '19/01/2022' '21/01/2022'
 '22/01/2022' '23/01/2022' '05/02/2022' '08/02/2022' '09/02/2022'
 '10/02/2022' '12/02/2022' '13/02/2022' '15/02/2022' '19/02/2022'
 '20/02/2022' '06/08/2021' '07/08/2021' '08/08/2021' '17/08/2021'
 '18/08/2021' '20/08/2021' '10/09/2021' '14/09/2021' '15/09/2021'
 '24/09/2021' '28/09/2021' '29/09/2021' '01/10/2021' '15/10/2021'
 '19/10/2021' '20/10/2021' '29/10/2021' '02/11/2021' '03/11/2021'
 '19/11/2021' '23/11/2021' '24/11/2021' '26/11/2021' '29/11/2021'
 '03/12/2021' '17/12/2021' '20/12/2021' '24/01/2022' '25/01/2022'
 '26/01/2022' '28/01/2022' '29/01/2022' '30/01/2022' '01/02/2022'
 '02/02/2022' '04/02/2022' '14/02/2022' '16/02/2022' '27/08/2021'
 '04/09/2021' '06/09/2021' '21/09/2021' '09/10/2021' '26/10/2021'
 '12/11/2021' '13/11/2021' '07/12/2021' '08/12/2021' '08/01/2022'
 '31/01/2022' '18/02/2022' '24/08/2021' '08/10/2021' '04/01/2022']

The number of columns: 24
The list of the Season 2021-2022 final columns' names is: ['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'match']

In [8]:
df = pd.concat([df_2016_2017, df_2017_2018, df_2019_2020, df_2020_2021, df_2021_2022], ignore_index=True)
df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,match
0,E0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,J Moss,10,17,3,9,10.0,14.0,7,4,3,2,0,0,english premier league
1,E0,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,C Pawson,14,13,4,3,12.0,15.0,3,6,2,2,0,0,english premier league
2,E0,13/08/16,Everton,Tottenham,1,1,D,1,0,H,M Atkinson,12,13,6,4,10.0,14.0,5,6,0,0,0,0,english premier league
3,E0,13/08/16,Hull,Leicester,2,1,H,1,0,H,M Dean,14,18,5,5,8.0,17.0,5,3,2,2,0,0,english premier league
4,E0,13/08/16,Man City,Sunderland,2,1,H,1,0,H,R Madley,16,7,4,3,11.0,14.0,9,6,1,2,0,0,english premier league

In [9]:
profile_summary(df)

Profiling datasets
   Attribute     Type  Num. Missing Values  Num. Unique Values            Sknewness   Kurtosis
0       FTHG    int64                  0.0                10.0             0.939019   1.158958
1       FTAG    int64                  0.0                 9.0             1.044055   1.394267
2       HTHG    int64                  0.0                 8.0             1.348719   2.204624
3       HTAG    int64                  0.0                 6.0             1.411024   1.859203
4         HS    int64                  0.0                37.0             0.615405   0.577318
5         AS    int64                  0.0                34.0             0.640249   0.697158
6        HST    int64                  0.0                19.0             0.696695   0.703904
7        AST    int64                  0.0                17.0              0.81216   0.974409
8         HF  float64                  2.0                29.0  0.30985585716546393   0.101685
9         AF  float64                  2.0                30.0   0.8379862959886066   9.758085
10        HC    int64                  0.0                20.0             0.658427   0.553216
11        AC    int64                  0.0                18.0             0.680944   0.503703
12        HY    int64                  0.0                 8.0             0.673007   0.221653
13        AY    int64                  0.0                 9.0             0.669881   0.353057
14        HR    int64                  0.0                 3.0             3.970009   15.65041
15        AR    int64                  0.0                 3.0             3.576321  12.703491
16       Div   object                  0.0                 4.0                  N/A        N/A
17      Date   object                  0.0               963.0                  N/A        N/A
18  HomeTeam   object                  0.0               100.0                  N/A        N/A
19  AwayTeam   object                  0.0               100.0                  N/A        N/A
20       FTR   object                  0.0                 3.0                  N/A        N/A
21       HTR   object                  0.0                 3.0                  N/A        N/A
22   Referee   object                  0.0               128.0                  N/A        N/A
23     match   object                  0.0                 4.0                  N/A        N/A

<a id="1.3"></a>
# [Rename columns base on their abbreviations](http://www.football-data.co.uk/notes.txt)
***
Since these columns are not in SQL naming convention will be more straightforward in later process. We will also analyse the column meaning

In [10]:
rename_cols(df)
print(f'The list of columns\' names is: {df.columns.to_list()}\n\n\n')

The list of columns' names is: ['league_division', 'match_date', 'home_team', 'away_team', 'full_time_home_team_goals', 'full_time_away_team_goals', 'full_time_result', 'half_time_home_team_goals', 'half_time_away_team_goals', 'half_time_result', 'referee', 'home_shots', 'away_shots', 'home_shots_on_target', 'away_shots_on_target', 'home_fouls_committed', 'away_fouls_committed', 'home_corners', 'away_corners', 'home_yellow_cards', 'away_yellow_cards', 'home_red_cards', 'away_red_cards', 'match']

# Lower Case the content

In this section we will convert all the string value in the column to uppercase for further processing and keep all the string uniformly format. This will improve the analysis of the data, and also easier to perform any function related to the string.

In [11]:
# Cast all values inside the dataframe (except the columns' name) into lower case.
df = df.applymap(lambda s: s.lower() if type(s) == str else s)

# Data types

In [12]:
# convert columns to the best possible dtypes, object->string
df = df.convert_dtypes()
# Cast date columns to the Date data type
df['match_date'] = pd.to_datetime(df['match_date'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9259 entries, 0 to 9258
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   league_division            9259 non-null   string
 1   match_date                 9259 non-null   datetime64[ns]
 2   home_team                  9259 non-null   string
 3   away_team                  9259 non-null   string
 4   full_time_home_team_goals  9259 non-null   Int64
 5   full_time_away_team_goals  9259 non-null   Int64
 6   full_time_result           9259 non-null   string
 7   half_time_home_team_goals  9259 non-null   Int64
 8   half_time_away_team_goals  9259 non-null   Int64
 9   half_time_result           9259 non-null   string
 10  referee                    9259 non-null   string
 11  home_shots                 9259 non-null   Int64
 12  away_shots                 9259 non-null   Int64
 13  home_shots_on_target       9259 non-null   Int64
 14  away_shots_on_target       9259 non-null   Int64
 15  home_fouls_committed       9257 non-null   Int64
 16  away_fouls_committed       9257 non-null   Int64
 17  home_corners               9259 non-null   Int64
 18  away_corners               9259 non-null   Int64
 19  home_yellow_cards          9259 non-null   Int64
 20  away_yellow_cards          9259 non-null   Int64
 21  home_red_cards             9259 non-null   Int64
 22  away_red_cards             9259 non-null   Int64
 23  match                      9259 non-null   string
dtypes: Int64(16), datetime64[ns](1), string(7)
memory usage: 1.8 MB

# DROP NA & DUPLICATION

primary keys: `league_division`, `match_date`, `home_team`, `away_team`

In [13]:
# drop duplication
print("Number of rows before drop of duplicates in National Leagues:", len(df.index))
print("Number of duplicated records in National Leagues: ", df.duplicated().sum())
df = df.drop_duplicates(subset=['league_division', 'match_date', 'home_team', 'away_team', 'match'], keep="first")
print("Number of duplicated records AFTER DROP in National Leagues: ", df.duplicated().sum())
print("Number of rows after drop of duplicates in National Leagues:", len(df.index), "\n\n")

Number of rows before drop of duplicates in National Leagues: 9259
Number of duplicated records in National Leagues:  0
Number of duplicated records AFTER DROP in National Leagues:  0
Number of rows after drop of duplicates in National Leagues: 9259

In [14]:
# drop na
print("The National Leagues dataframe BEFORE dropped has {} rows and {} columns".format(df.shape[0], df.shape[1]))
df = df.dropna(subset=['league_division', 'match_date', 'home_team', 'away_team', 'match'])
# display missing values in descending
print("The National Leagues dataframe AFTER dropped has {} rows and {} columns".format(df.shape[0], df.shape[1]),"\n\n\n")

The National Leagues dataframe BEFORE dropped has 9259 rows and 24 columns
The National Leagues dataframe AFTER dropped has 9259 rows and 24 columns

<a id="3"></a>
<h1 style="color:#ffc0cb;font-size:40px;font-family:Georgia;text-align:center;"><strong>3. Save the Intermediate data that has been transformed</strong></h1>

In [15]:
write_interim_path(df, 'national_leagues_2016_2022.csv', 'national_leagues')

cleaned national_leagues_2016_2022.csv data was successfully saved!